{{ partial "header" . }}

<main>
    <div class="text-justify">
    <h2>About me</h2>
    <p>
    Welcome on my official website. I’m Jarek Przygódzki, software engineer with 10+ years of professional software development experience living in Poznań, Poland.
    
    I am a Kotlin/Scala/Go/Rust enthusiast, but primarily use Java for my job. I like efficient code, 
    fixing things that are broken, building things that work and knowing how things really work.
    </p>
    This blog is a collection of my thoughts on various topics in professional software development.
    I plan to write here about interesting things that I encounter, stuff I've coded, and whatever I feel like writing about.
     <p>
    You can expect to find various cool  posts on programming/devops.  I also work in Java, so that may show up here and there, too.
    </p>
    <p>
    See what I <a href="https://www.goodreads.com/user/show/19884198-jarek-przyg-dzki">read</a>,
     <a href="https://stackoverflow.com/users/293933/jarek-przyg%C3%B3dzki?tab=profile">code</a> or <a href="/post">write</a>.

    On twitter I'm <a href="https://twitter.com/jarekprzygodzki">@jarekprzygodzki</a>.

    </p>
    <p>
        <h3>Elsewhere</h3>
        <ul>
            <li>Old blog: <a href="https://jarekprzygodzki.wordpress.com/">jarekprzygodzki.wordpress.com</a></li>
            <li>Sometimes I  post the occasional articles on <a href="https://dev.to/jarekprzygodzki">dev.to/jarekprzygodzki</a></li>
        </ul>

    </p>
    </div>
</main>

{{ partial "footer" . }}